<!-- Describe task in general -->

<p>
    Твоя функція повинна повернути багатолінійний рядок з унікальних малих літер в алфавітному порядку. Символи повинні бути розміщені у вигляді порожнистого ромба (діаманту), вздовж його країв, починаючи з верхньої вершини. 
</p>
<p>
    Для цього тобі дано три значення (їх обмеження дивись у Передумовах):
    <ul>
        <li><b>side</b> - кількість букв на кожній стороні ромба;</li>
        <li><b>length</b> - загальна кількість букв, які слід використати;</li>
        <li><b>cw</b> - прапорець руху за годинниковою стрілкою, що показує в якому напрямку повинні йти літери (якщо <b>{% if is_js %}t{% else %}T{% endif %}rue</b> - букви повинні бути розміщені в напрямку за годинниковою стрілкою).</li>
    </ul>
</p>
<p>
    Якщо не вистачає <b>length</b> для заповнення форми, доповни її з допомогою <b>"*"</b>. Ромб не повинен мати пропуски праворуч. Ось приклад з аргументами та очікуваним результатом:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}diamond.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Три аргументи: сторона як ціле число ({% if is_js %}number{% else %}int{% endif %}), кількість як ціле число ({% if is_js %}number{% else %}int{% endif %}) і прапорець руху за год. стрілкою як логічне значення (bool{% if is_js %}ean{% endif %}).
</p>

<p>
    <strong>Вихід:</strong> Багатолінійний рядок <span translate="no">(str{% if is_js %}ing{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <ul>
    <li><i>26 >= length >= 0;</i></li>
    <li><i>side > 1;</i></li>
    <li><i>(side-1)*4 >= length.</i></li>
    </ul>
</p>
